h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.boutons {
    margin-top: 10px;
}

p {
    text-align: center;
    margin-top: 20px;
}